{% for page in collections.posts.pages %}
<article class="index_listing_post">
  <a href="/{{page.permalink}}"><h2 class="post_title">{{page.title}}</h2>
  {% include "published_at.liquid" %}
  {{page.excerpt}}</a>
</article>
{% endfor %}
