@import "normalize";
@import "fonts";
@import "root";
@import "base";
@import "mnmlsm";

#wrppr {
  min-width: 10em;
  margin: auto;
  padding: 0 0.5em;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 901px) {
  #wrppr {
    width: 42em; /* 20px * 42em = 840px */
  }
}

.index_listing_post {
  a { text-decoration: none; }
  a:link, a:visited { color: inherit; }

  &:hover {
      h1, p { text-shadow: 2px 2px 2px hsla(50, 100%, 50%, 0.15); }
  }

  & + & {
    border-top: 1px solid hsla(206, 55%, 30%, 0.25);

    h1 { margin-top: 0.5em; }
  }
}

#content {
  min-height: 42em;
}

pre {
  margin: 0 -1em;
  padding: 1em;
  border: 3px solid rgba(42,222,255,0.1);
  border-radius: 0.25em;
  white-space: pre-wrap;
  font-family: var(--font-code);
  font-size: 0.8em;
}
