@import "normalize";
@import "fonts";
@import "root";
@import "base";
@import "mnmlsm";

#wrppr {
  min-width: 10em;
  margin: auto;
  padding: 0 0.5em;
}
body {
  background-image: url(../assets/head.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 901px) {
  body {
    background-size: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;

    &::before {
      content: "";
      z-index: -1;
      position: inherit;
      left: inherit;
      top: inherit;
      width: inherit;
      height: inherit;
      background-image: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      filter: blur(3px);
    }
  }

  #wrppr {
    width: 42em; /* 20px * 42em = 840px */
  }
}

.index_listing_post {
  a { text-decoration: none; }
  a:link, a:visited { color: inherit; }

  &:hover {
      h1, h2, p { text-shadow: 2px 2px 2px hsla(50, 100%, 50%, 0.15); }
  }

  & + & {
    border-top: 1px solid hsla(206, 55%, 30%, 0.25);

    h1, h2 { margin-top: 0.5em; }
  }
}

#content {
  min-height: 20em;
}

pre {
  margin: 0 -1em;
  padding: 1em;
  border: 3px solid rgba(42,222,255,0.1);
  border-radius: 0.25em;
  white-space: pre-wrap;
  font-family: var(--font-code);
  font-size: 0.8em;
}

.post_title {
  margin-bottom: 0em;
}

.post_hero {
  display: block;
  width: 100%; // 820px

  img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    display: none;
    text-align: center;
    font-size: 0.6em;
  }
}

.published_at_line {
  font-family: var(--font-code);
  font-size: 0.6em;
  color: rgba(66, 35, 18, 0.7);
}