<!DOCTYPE html>{% import "macros.html" as macros %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{config.title}}{% endblock title %}</title>
  <meta name="description" content="{{config.description}}">
  {% if page.tags %}
  <meta name="keywords" content="{{page.tags | slice(end=10) | join(sep=",") }}" />
  {% else %}
  <meta name="keywords" content="{{config.extra.keywords | join(sep=",") }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/m.128.png" sizes="128x128" type="image/png" />
  <link rel="icon" href="/m.svg" sizes="any" type="image/svg+xml" />
  {#<link rel="preload icon" href="/m.svg" as="image" type="image/svg+xml" sizes="any" crossorigin />#}
  {# fonts and styles #}
  <style>@font-face {font-family: 'Lora';src:url('/assets/fonts/Lora-Regular.woff2') format('woff2');font-weight:normal;font-style:normal;}@font-face {font-family: 'Lora';src:url('/assets/fonts/Lora-Italic.woff2') format('woff2');font-weight:normal;font-style:italic;}@font-face {font-family: 'Lora';src:url('/assets/fonts/Lora-Bold.woff2') format('woff2');font-weight:bold;font-style:normal;}@font-face {font-family: 'Lora';src:url('/assets/fonts/Lora-Bold-Italic.woff2') format('woff2');font-weight:bold;font-style:italic;}@font-face{font-family:'Varela';src:url('/assets/fonts/varela-round-regular.woff2') format('woff2');font-weight:normal;font-style:normal;}</style>
  <style>html{box-sizing:border-box;-webkit-font-smoothing:antialiased;font-family:'Lora',Cambria,Cochin,Georgia,'Times New Roman',Times,serif;}*,*::before,*::after{box-sizing: inherit;}html,body{margin:0;padding:0;border:0;}h1,h2,h3,h4,h5,h6{font-family:'Varela',Arial,sans-serif;}.wrppr{margin:auto;padding:0 1rem;max-width:38rem;}.headlink{text-decoration:none;display:flex;align-items:center;padding:1rem 0 0 0;min-width:17rem;}.headlink .m{width: 4.5rem;height: 4.5rem;background:url('/m.svg');background-size:4.5rem 4.5rem;margin-left:-1.2rem;}.headlink h1{margin:0 0 0 -.3rem;padding-top: 1.4rem;}.headlink h1::first-letter{font-size: 0;}</style>

  <link rel="preload" href="/assets/fonts/varela-round-regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/Lora-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/Lora-Italic.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/Lora-Bold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/assets/fonts/Lora-Bold-Italic.woff2" as="font" type="font/woff2" crossorigin />

  <link rel="stylesheet subresource" href="/mtt.css" />

  <link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
  <link rel="dns-prefetch" href="https://www.google-analytics.com/" />
  <link rel="preconnect" href="https://www.googletagmanager.com/" />
  <link rel="preconnect" href="https://www.google-analytics.com/" />

  {# more icons #}
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64 128x128 256x256" type="image/x-icon" />
  <link rel="icon" href="/m.57.png" sizes="57x57" type="image/png" />
  {#<link rel="icon" href="/m.svg" sizes="any" type="image/svg+xml" />#}
  {#<link rel="icon" href="mac.icns" sizes="128x128 512x512 8192x8192 32768x32768" />#}

  <meta name="theme-color" content="#dfdddc" />
  <link rel="manifest" href="/manifest.json" />

  <link rel="alternate" type="application/atom+xml" title="Atom Feed for {{config.title}}" href="/feed.atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{config.title}}" href="/feed.rss.xml" />
  <link rel="alternate" type="application/json" title="JSON Feed for {{config.title}}" href="/feed.json" />

  <meta name="author" content="{{config.extra.author}} ({{config.extra.author_nick}})" />
  <link rel="author" href="/humans.txt" />
  <link rel="author" href="https://plus.google.com/116780993927713078767?rel=author" />

  <meta name="geo.region" content="DE-BE" />
  <meta name="geo.placename" content="Berlin" />
  <meta name="geo.position" content="52.52755;13.47982" />
  <meta name="geo.pluscode" content="https://plus.codes/9F4MGFHH+2W" />
  <meta name="ICBM" content="52.52755, 13.47982" />

  {% if page %}
    {% set is_post = page.permalink is containing("/posts/") %}
  {% if is_post == true %}

  <link rel="canonical" href="{{page.permalink | safe}}" />

  {% if page.extra.has_hero %}
    {% set page_image_url = macros::get_cover_image_url(url=page.permalink) %}
  {% else %}
    {% set page_image_url = macros::get_default_cover_image_url(base=config.base_url, img=config.extra.image_url) %}
  {% endif %}

  {% set page_image_alt = page.extra.image_alt | default(value=config.extra.image_alt) %}

  {% if page.description %}
    {% set page_description = page.description %}
  {% elif page.summary %}
    {% set page_description = page.summary %}
  {% else %}
    {% set page_description = page.content %}
  {% endif %}
  {% set page_description = page_description | safe | striptags | split(pat=" ") | slice(end=31) | join(sep=" ") %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{page.permalink | safe}}">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page_description}}">
  <meta name="twitter:creator" content="{{config.extra.author_nick}}">
  <meta name="twitter:image" content="{{page_image_url | safe}}">
  <meta name="twitter:image:alt" content="{{page_image_alt}}">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{page.permalink | safe}}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page_description}}">
  <meta property="article:published_time" content="{{page.date | date(format="%FT%T%z")}}" />
  <meta property="og:image" content="{{page_image_url | safe}}">
  <meta property="og:site_name" content="{{config.title}}">
  <meta property="og:see_also" content="{{config.base_url}}">
  <meta property="article:author" content="{{config.extra.author}}" />
  {% if page.tags %}{% for tag in page.tags %}
  <meta property="article:tag" content="{{tag}}" />
  {% endfor %}{% endif %}
  {% if page.category %}
  <meta property="article:section" content="{{page.category}}" />
  {% endif %}

  {# --if-page==post-- #}
  {% endif %}
  {# --if-page-- #}
  {% endif %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115476438-1"></script>
  <script async src="/js/g.js"></script>
  <script async src="/js/mtt.js"></script>
  {% block before_head_end %}{% endblock before_head_end %}
</head>
<body class="mtt">
  {% block after_body_open %}{% endblock after_body_open %}
  <div id="wrppr" class="wrppr">
    <header class="siteheader">{% block header %}
      <a href="/" rel="home" title="home" class="headlink">
        <div id="big-m" class="m"></div><h1>{{config.title}}</h1>
      </a>
      <p class="site_description">{{config.description}}</p>
    {% endblock header %}</header>
    <nav class="navbar">{% block navigation %}
      <a href="/" class="homelink">home</a>
      <a href="/about/">about</a>
    {% endblock navigation %}</nav>
    <main id="content" class="content">
      {% block content_header %}{% endblock content_header %}
      {% block content %}{% endblock content %}
      {% block content_footer %}{% endblock content_footer %}
    </main>
    <footer class='footer'>{% block footer %}
     &copy; 2018 markentier.tech / Christoph Grabo<br />
      <a href="/feed.atom.xml" rel="alternate" type="application/atom+xml" title="Atom Feed for {{config.title}}">atom</a>,
      <a href="/feed.rss.xml" rel="alternate" type="application/rss+xml" title="RSS Feed for {{config.title}}">rss</a>,
      <a href="/feed.json" rel="alternate" type="application/json" title="JSON Feed for {{config.title}}">json</a> |
      <a href="/tags/">tags</a> |
      <a target="_blank" href="https://status.markentier.tech/" rel="external noopener" title="Status page for {{config.title}} (provided by updown.io)">status</a> |
      <a target="_blank" href="https://github.com/markentier/markentier.tech" rel="external noopener" title="Source code for {{config.title}}">source</a> |
      <a target="_blank" href="https://securityheaders.io/?q=https://markentier.tech/" rel="external noopener" title="Security Headers check for {{config.title}} (schd.io/5SaU)">schd.io</a>,
      <a target="_blank" href="https://www.ssllabs.com/ssltest/analyze.html?d=markentier.tech" rel="external noopener" title="SSL/TLS check for {{config.title}}">ssltest</a>
    {% endblock footer %}</footer>
  </div>
  <script async src="/js/loaded.js"></script>
  {#<link rel="prefetch" href="/deployment.json" data-fetch />#}
  {% block before_body_end %}{% endblock before_body_end %}
{# DEBUG (port=3000) #}
{% if config.base_url is containing(":3000") %}
<pre id="__tera_context">{{ __tera_context | safe | escape }}</pre>
{% endif %}
</body>
</html>
