{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  {% set sep = config.extra.title_sep | default(value="🞳") %}
  <title>{% block title %}{{config.title}}{% endblock title %} {{sep}} {{config.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "partials/head.html" %}
  {% block before_head_end %}{% endblock before_head_end %}
</head>
<body class="mtt">
  {% if macros::is_devmode() == "true" %}
    <div class=devmode>
      <span class=note>DEVELOPMENT MODE! (drafts are visible)</span>
    </div>
  {% endif %}

  {% if current_path is defined %}{% set u = current_path %}{% else %}{% set u = "/404" %}{% endif %}
  <img class="beacon first-beacon" data-skip-transform loading="lazy" src="/beacon.svg?u={{u}}" alt="(beacon)">

  {% block after_body_open %}{% endblock after_body_open %}

  <div id="wrppr" class="wrppr">

    {% include "partials/siteheader.html" %}

    <nav class="navbar">
      <a href="/">home</a>
      <a href="/resolution/">resolution</a>
      <a href="/about/">about</a>
      {% block menu_items %}{% endblock menu_items %}
    </nav>

    <main id="content" class="content">
      {% block content_header %}{% endblock content_header %}
      {% block content %}{% endblock content %}
      {% block content_footer %}{% endblock content_footer %}
    </main>

    {% include "partials/sitefooter.html" %}
  </div>

  {% block before_body_end %}{% endblock before_body_end %}
  {% include "partials/foot.html" %}
</body>
</html>
