{%- import "macros.html" as macros -%}
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{config.title}}",
  "home_page_url": "{{config.base_url | safe}}",
  "feed_url": "{{config.base_url | safe}}/feed.json",
  "icon": "{{config.base_url | safe}}/m.128.png",
  "favicon": "{{config.base_url | safe}}/favicon.ico",
  "author": { "name": "{{config.extra.author}}" },
  "items": [{{ macros::feed_posts(sec = get_section(path="posts/_index.md"), feed="json", first=true) | replace(from=",,,,,", to="") }}
  ]
}
