{% extends "default.html" %}

{% block title %}{{config.description}}{% endblock title %}

{% block before_head_end %}
<meta property="og:site_name" content="{{config.title}}">
<meta property="og:title" content="{{config.title}}">
<meta property="og:description" content="{{config.description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{config.base_url | safe}}">
<meta property="og:image" content="{{config.base_url | safe}}{{config.extra.defaults.og_image_file | safe}}">
<meta property="og:image:alt" content="{{config.extra.defaults.image_alt_text | safe}}">
{% endblock before_head_end %}

{% block content %}
  {% if page.content %}
    {{page.content | safe }}
  {% endif %}

  {# NOTE: NEEDS FLAT PAGE LIST (use transparent = true in section's _index.md!) #}
  {% set section = get_section(path="posts/_index.md") %}
  {{ macros::sec_pages(sec = section) }}
{% endblock content %}
