{% macro date_iso(date) %}{{date | date(format="%FT%T%z")}}{% endmacro date_iso %}
{% macro date_date(date) %}{{date | date}}{% endmacro date_date %}

{% macro html_escaped(str) %}{{str | escape | safe}}{% endmacro html_escaped %}

{% macro fq_sec(base) %}{{base}}_index.md{% endmacro fq_sec %}

{% macro get_cover_image_url(url) %}{{url}}cover.png{% endmacro get_cover_image_url %}
{% macro get_thumb_image_url(url) %}{{url}}thumb.png{% endmacro get_thumb_image_url %}
{% macro get_cover_image_webp_url(url) %}{{url}}cover.webp{% endmacro get_cover_image_webp_url %}
{% macro get_thumb_image_webp_url(url) %}{{url}}thumb.webp{% endmacro get_thumb_image_webp_url %}
{% macro get_cover_image_avif_url(url) %}{{url}}cover.avif{% endmacro get_cover_image_avif_url %}
{% macro get_thumb_image_avif_url(url) %}{{url}}thumb.avif{% endmacro get_thumb_image_avif_url %}
{% macro get_default_cover_image_url(base,img) %}{{base}}/{{img}}{% endmacro get_default_cover_image_url %}

{% macro preadtime(reading_time) %}
{% if reading_time <= 1 %}
  one minute read
{% else %}
  {{reading_time}} minute read
{% endif %}
{% endmacro preadtime %}

{% macro sec_traverse(sec) %}
    {{ self::sec_pages(sec=sec) }}
    {% if sec.subsections %}
    {% for sub in sec.subsections | reverse %}
    {% set ss = get_section(path=sub) %}
    {{ self::sec_traverse(sec = ss) }}
    {% endfor %}
    {% endif %}
{% endmacro sec_traverse %}

{% macro sec_pages(sec) %}
{{self::list_pages(pages=sec.pages)}}
{% endmacro sec_pages %}

{% macro list_pages(pages, limit=999) %}
  {% for page in pages | slice(end=limit) %}
  {% if page.draft == false %}
  <article class="index_listing_post" itemscope itemtype="http://schema.org/Article">

    <a href="{{page.permalink | safe}}" itemprop="url">
      {% if page.extra.has_hero %}
      {% set page_thumb_url = self::get_thumb_image_url(url=page.permalink) %}
      {% set page_cover_url = self::get_cover_image_url(url=page.permalink) %}
      {% set page_thumb_webp_url = self::get_thumb_image_webp_url(url=page.permalink) %}
      {% set page_cover_webp_url = self::get_cover_image_webp_url(url=page.permalink) %}
      {% set page_thumb_avif_url = self::get_thumb_image_avif_url(url=page.permalink) %}
      {% set page_cover_avif_url = self::get_cover_image_avif_url(url=page.permalink) %}

      <picture>
        <source srcset="{{page_thumb_avif_url | safe}}" type="image/avif">
        <source srcset="{{page_thumb_webp_url | safe}}" type="image/webp">
        <img class="thumbnail" itemprop="image" src="{{page_thumb_url | safe}}" alt="{{page.extra.image_alt | safe}}" loading="lazy">
      </picture>
      {% endif %}

      <h2 class="post_title" itemprop="headline">{{page.title}}</h2>

      {# TODO extract as macro: macros::published_at(date=date) #}
      {% set pdate_iso = self::date_iso(date=page.date) %}
      {% set pdate_date = self::date_date(date=page.date) %}
      <small class="published_at_line">
        <time class="published_at" itemprop="datePublished" content="{{pdate_iso}}" datetime="{{pdate_iso}}">{{pdate_date}}</time>
      </small>
      {% if page.summary %}
         <p>{{page.summary | striptags | safe}}</p>
      {% elif page.description %}
        <p>{{page.description | striptags | safe}}</p>
      {% endif %}
    </a>

    <footer class="list-meta">

      <div class="data">
        <link itemprop="mainEntityOfPage" href="{{page.permalink | safe}}">
        <time class="modified_at" itemprop="dateModified" content="{{pdate_iso}}"
          datetime="{{pdate_iso}}">{{pdate_date}}</time>
        <div class="byline author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="{{config.extra.author}}">
          <span class="fn">{{config.extra.author}}</span>
        </div>

        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="{{config.extra.publisher}}">
          <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img itemprop="url" src="{{config.base_url | safe}}/m.amp.png" alt="logo">
            <meta itemprop="height" content="60">
            <meta itemprop="width" content="600">
          </span>
        </div>
      </div>

    </footer>

  </article>
  {% endif %}
  {% endfor %}
{% endmacro list_pages %}

{%- macro naive_stringified_array(arr) -%}
[{%- for item in arr -%}"{{item}}"{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
{%- endmacro stringify_array -%}

{%- macro feed_posts(sec, feed, start=false) -%}
{{ self::feed_items(sec=sec, feed=feed) }}
{%- for sub in sec.subsections | reverse -%}
{%- set ss = get_section(path=sub) -%}
{{ self::feed_posts(sec=ss, feed=feed, start=false) -}}
{%- endfor -%}
{%- if start == true and feed == "json" -%}END_MARKER{%- endif %}
{%- endmacro feed_posts %}

{%- macro feed_items(sec, feed) -%}
{%- for page in sec.pages -%}
{%- set is_published = page.draft == false -%}
{%- if is_published -%}
{%- if feed == "atom" %}
  <entry>
    <title>{{page.title}}</title>
    <link href="{{page.permalink | safe}}" />
    <id>{{page.permalink | safe}}</id>
    <updated>{{page.date | date(format="%FT%TZ")}}</updated>
    {%- if page.summary %}
    <summary>{{page.summary | striptags | trim | safe}}</summary>
    {%- endif %}
    <content type="html">
      <![CDATA[
{{ self::absolutify(content=page.content, permalink=page.permalink) | trim | safe }}
      ]]>
    </content>
  </entry>
{%- elif feed == "rss" %}
    <item>
      <title>{{page.title}}</title>
      <link>{{page.permalink | safe}}</link>
      <guid isPermaLink="true">{{page.permalink | safe}}</guid>
      <pubDate>{{page.date | date(format="%a, %d %b %Y %H:%M:%S %z")}}</pubDate>
      <description>
        <![CDATA[
{{ self::absolutify(content=page.content, permalink=page.permalink) | trim | safe }}
        ]]>
      </description>
    </item>
{%- elif feed == "json" %}
    {
      "id": "{{page.permalink | safe}}",
      "url": "{{page.permalink | safe}}",
      "date_published": "{{page.date | date(format="%FT%TZ")}}",
      {%- if page.extra.has_hero %}
      {%- set page_image_url = self::get_cover_image_url(url=page.permalink) %}
      "banner_image": "{{page_image_url | safe}}",
      {%- endif %}
      {%- if page.summary %}
      "summary": {{page.summary | striptags | trim | json_encode(pretty=true) | safe}},
      {%- endif %}
      {%- if page.taxonomies.tags %}
      "tags": {{ self::naive_stringified_array(arr=page.taxonomies.tags) }},
      {%- endif %}
      "content_html": {{ self::absolutify(content=page.content, permalink=page.permalink) | trim | json_encode(pretty=true) | safe}}
    },
{%- else -%}
<!-- feed type not supported -->
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endmacro feed_items -%}

{% macro absolutify(content, permalink) %}
{% set rel_src = self::rel_src() %}
{% set abs_src = self::abs_src(link=permalink) %}
{{ content | replace(from=rel_src, to=abs_src) | safe }}
{% endmacro absolutify %}

{% macro rel_src() %}="./{% endmacro rel_src %}
{% macro abs_src(link) %}="{{link}}{% endmacro abs_src %}

{% macro categories() %}
<!-- <meta name="categories" content="{{page.taxonomies.categories}}" /> -->
{% endmacro categories %}
