{% extends "default.html" %}
{% import "macros.html" as m %}
{% import "page.macros.html" as pm %}

{% block title %}{{page.extra.long_title | default(value=page.title | safe)}}{% endblock title %}

{% block menu_items %}
  {% if page.extra.menu_items %}
    {{ page.extra.menu_items | safe }}
  {% endif %}
{% endblock menu_items %}

{% block content %}
{% set is_post = page.permalink is containing("/posts/") %}
{% set is_draft = page.draft %}
  <article{% if is_post %} class="hentry{% if is_draft %} draft{% endif %}" itemscope itemtype="http://schema.org/Article"{% endif %}>

    {{pm::pheader(page=page)}}

    <div class="article_body">
      {{ m::absolutify(content=page.content, permalink=page.permalink) | trim | safe }}
    </div>

    {% if is_post %}
    <aside class="suggestions">
      {% if page.extra.suggestions %}
      <h4>You might also like</h4>

      <ul>
        {% for suggestion in page.extra.suggestions %}
        <li>
          <!-- {{loop.index}} -->
          <p><a href="{{ suggestion.link }}">{{ suggestion.text }}</a></p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- all 3 items here seem to be non-deterministic on my machine -->

      {% set latest = get_section(path="posts/_index.md") | get(key="pages") | first %}
      {% if page.permalink != latest.permalink %}
      <h4>Newest article</h4>
      <p class=li><a href="{{ latest.permalink }}">{{ latest.title }}</a></p>
      {% endif %}

      {% if page.later %}
      <h4>Next article</h4>
      <p class=li><a href="{{ page.later.permalink }}">{{ page.later.title }}</a></p>
      {% endif %}

      {% if page.earlier %}
      <h4>Previous article</h4>
      <p class=li><a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a></p>
      {% endif %}
    </aside>

    {{ pm::pfooter(page=page, config=config) }}
    {% endif %}

  </article>
{% endblock content %}
