{# available macros from: m #}
{% macro pheader(page) %}
{%- set is_post = page.permalink is containing("/posts/") -%}
<header>

  {% if page.extra.has_image %}
  {% if page.extra.has_hero %}
  {% set page_image_url = m::get_cover_image_url(url=page.permalink) %}
  {% set page_image_webp_url = m::get_cover_image_webp_url(url=page.permalink) %}
  {% set page_image_avif_url = m::get_cover_image_avif_url(url=page.permalink) %}
  {% set page_image_alt = page.extra.image_alt | safe %}

  <figure class="post_hero">
    <picture>
      <source srcset="{{page_image_avif_url | safe}}" type="image/avif">
      <source srcset="{{page_image_webp_url | safe}}" type="image/webp">
      <img itemprop="image" src="{{page_image_url | safe}}" alt="{{page_image_alt | safe}}" loading="eager"  data-skip-transform>
    </picture>
    <figcaption>{{page_image_alt | safe}}</figcaption>
  </figure>
  {% else %}
    <!-- no hero image -->
  {% endif %}
  {% endif %}

  <h1 itemprop="headline" class="post_title entry-title">{{page.extra.long_title | default(value=page.title | safe)}}</h1>

  {% if is_post %}
  {% set pdate_iso = m::date_iso(date=page.date) %}
  {% set pdate_date = m::date_date(date=page.date) %}
  <div class="post_content_info">
    <div class="published_at_line">
      <time class="published_at updated" itemprop="datePublished" content="{{pdate_iso}}" datetime="{{pdate_iso}}">{{pdate_date}}</time>
      {#<time class="modified_at" itemprop="dateModified" content="{{pdate_iso}}" datetime="{{pdate_iso}}">{{pdate_date}}</time>#}
    </div>
    <div class="time_and_words">
      <span class="rtime">{{ m::preadtime(reading_time=page.reading_time) }}</span>
      <span class="wordcount">(<strong>{{page.word_count}}</strong> words)</span>
    </div>
  </div>
  {% endif %}

</header>
{% endmacro pheader %}

{% macro pfooter(page, config) %}
<footer class="meta">

  {# ⎇⌥⊶Ⓞⓞ≅≈⊜ 💭💬🔄♻⚓📜📑🔖✒🖋 #}
  <div class="info">
    <div class="icon permalink" title="Permalink">⚓</div>
    <div class="link"><a rel="bookmark" href="{{page.permalink}}">{{page.permalink}}</a><br></div>
    {% if page.extra.origin_url %}
    {% set rels = "external alternate nofollow noreferrer noopener" %}
    <div class="icon origin" title="Originally published at">📜</div>
    <div class="link"><a rel="{{rels}}" href="{{page.extra.origin_url | safe}}">{{page.extra.origin_url}}</a></div>
    {% endif %}
  </div>

  <div class="data">
      <link itemprop="url" href="{{page.permalink | safe}}">
      <link itemprop="mainEntityOfPage" href="{{page.permalink | safe}}">
      <div class="byline author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{config.extra.author}}">
        <span class="fn">{{config.extra.author}}</span>
      </div>
      {% include "partials/microformat.publisher.html" %}
  </div>

</footer>
{% endmacro pfooter %}
