{% extends "default.html" %}
{% import "macros.html" as m %}
{% import "page.macros.html" as pm %}

{% block title %}{{page.extra.long_title | default(value=page.title | safe)}}{% endblock title %}

{% block menu_items %}
  {% if page.extra.menu_items %}
    {{ page.extra.menu_items | safe }}
  {% endif %}
{% endblock menu_items %}

{% block content %}
{% set is_post = page.permalink is containing("/posts/") %}
{% set is_draft = page.draft %}
  <article{%if is_post%} class="hentry{%if is_draft%} draft{%endif%}" itemscope itemtype="http://schema.org/Article"{%endif%}>

    {{pm::pheader(page=page)}}

    <div class="article_body">
      {{m::absolutify(content=page.content, permalink=page.permalink) | trim | safe}}
    </div>

    {% if is_post %}{{pm::pfooter(page=page, config=config)}}{% endif %}

  </article>
{% endblock content %}
