@font-face {
  font-family: 'Lusitana';
  src: url('../assets/fonts/lusitana-regular.eot');
  src: url('../assets/fonts/lusitana-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/lusitana-regular.woff') format('woff'),
       url('../assets/fonts/lusitana-regular.ttf') format('truetype'),
       url('../assets/fonts/lusitana-regular.svg#lusitanaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lusitana';
  src: url('../assets/fonts/lusitana-bold.eot');
  src: url('../assets/fonts/lusitana-bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/lusitana-bold.woff') format('woff'),
       url('../assets/fonts/lusitana-bold.ttf') format('truetype'),
       url('../assets/fonts/lusitana-bold.svg#lusitanabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../assets/fonts/varela-round-regular.eot');
  src: url('../assets/fonts/varela-round-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/varela-round-regular.woff') format('woff'),
       url('../assets/fonts/varela-round-regular.ttf') format('truetype'),
       url('../assets/fonts/varela-round-regular.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), 
       url('../assets/fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/hack-bold.woff2?sha=3114f1256') format('woff2'), 
       url('../assets/fonts/hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/hack-italic.woff2?sha=3114f1256') format('woff2'), 
       url('../assets/fonts/hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'), 
       url('../assets/fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}
