{% import "macros.html" as macros %}

{% set sep = config.extra.title_sep | default(value="🞳") %}

<link rel="stylesheet" href="/s/m.css?v={{macros::ts_now()}}">

{% if macros::is_devmode() == "true" %}
  <link rel="stylesheet" href="/s/d.css?v={{macros::ts_now()}}">
{% endif %}

{% if page.extra.custom_delimiter or page.extra.custom_css %}
<style>
{% if page.extra.custom_delimiter %}
/* custom delimiter */
.article_body > p:first-of-type::after, hr::after { content: "{{page.extra.custom_delimiter}}";opacity: .25;}
{% endif %}
{% if page.extra.custom_css %}
/* custom CSS */
{{page.extra.custom_css | safe}}
{% endif %}
</style>
{% endif %}

<!--
  https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df
  https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7
-->
<link rel="icon" href="/favicon.ico" sizes="any">
{# [!] set color to stroke color of SVG; set theme color to the one specified by _root.scss #}
<link rel="icon" href="{{config.extra.defaults.m_favicon_file}}{{macros::cache_bust()}}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{config.extra.defaults.apple_image_file}}{{macros::cache_bust()}}">
<link rel="manifest" href="/site.webmanifest">
{# <meta name="theme-color" content="#c9ced3"> #}

{% if current_url is defined or page.permalink is defined %}
{% set url = page.permalink | default(value=current_url) | safe %}

<link rel="canonical" href="{{url}}">
<link rel="alternate" hreflang="x-default" href="{{url}}" />
<link rel="alternate" hreflang="en" href="{{url}}" />
{% endif %}

{% if page.taxonomies.tags %}
<meta name="keywords" content="{{page.taxonomies.tags | slice(end=10) | join(sep=", ") }}">
{% else %}
<meta name="keywords" content="{{config.extra.keywords | join(sep=", ") }}">
{% endif %}

<meta name="author" content="{{config.extra.author}} ({{config.extra.author_nick}})">
<link rel="author" href="https://christoph.grabo.berlin/">
<link rel="author" href="/humans.txt">
<link rel="me" href="https://github.com/asaaki">

{% if page %}

  {% set is_post = page.permalink is containing("/posts/") %}
  {% if is_post == true %}

    {% set page_image_url = macros::get_final_cover_image_url() %}
    {% set page_image_alt = macros::get_final_cover_image_alt() %}

    {% if page.description %}
      {% set page_description = page.description %}
    {% elif page.summary %}
      {% set page_description = page.summary %}
    {% else %}
      {% set page_description = page.content %}
    {% endif %}
    {% set page_description = page_description | striptags | split(pat=" ") | slice(end=50) | join(sep=" ")| truncate(length=120, end="…") | safe %}

    <meta name="description" content="{{page_description}} {{sep}} {{config.title}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page_description}}">
    <meta name="twitter:creator" content="{{config.extra.author_nick}}">
    <meta name="twitter:site" content="{{config.extra.site_nick}}">
    <meta name="twitter:image" content="{{page_image_url | safe}}">
    <meta name="twitter:image:alt" content="{{page_image_alt}}">
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{config.extra.author}}" />
    <meta name="twitter:label2" content="Filed under" />
    <meta name="twitter:data2" content="{{page.taxonomies.categories | join(sep=', ')}}" />

    <meta property="og:type" content="article">
    <meta property="og:url" content="{{url}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page_description}}">
    <meta property="og:image" content="{{page_image_url | safe}}">
    <meta property="og:image:alt" content="{{page_image_alt}}">
    <meta property="og:publish_date" content="{{page.date | date(format="%FT%T%z")}}">
    <meta property="og:site_name" content="{{config.title}}">
    <meta property="og:see_also" content="{{config.base_url | safe}}">
    <!-- Namespace URI: https://ogp.me/ns/article# -->
    <meta property="article:published_time" content="{{page.date | date(format="%FT%T%z")}}">
    <meta property="article:modified_time" content="{{page.date | date(format="%FT%T%z")}}">
    <meta property="article:author" content="{{config.extra.author}}">

    {% if page.taxonomies.tags %}{% for tag in page.taxonomies.tags %}
      <meta property="article:tag" content="{{tag}}">
    {% endfor %}{% endif %}

    {% if page.taxonomies.categories %}{% for category in page.taxonomies.categories %}
      <meta property="article:section" content="{{category}}">
    {% endfor %}{{ macros::categories() }}{% endif %}

  {% else %}

    {% if page.description %}
      {% set page_description = page.description %}
    {% else %}
      {% set page_description = config.description %}
    {% endif %}
    {% set page_description = page_description | striptags | split(pat=" ") | slice(end=50) | join(sep=" ") | safe %}
    <meta name="description" content="{{page_description}} {{sep}} {{config.title}}">

  {% endif %}

{% elif term %}

  <meta name="description" content="All blog posts tagged with {{term.name}} on {{config.title}}">

{% elif taxonomy %}

  {% set termlist1 = terms | map(attribute="name") | slice(end=5) | join(sep=", ") %}
  {% set termlist2 = terms | reverse | map(attribute="name") | slice(end=5) | reverse | join(sep=", ") %}
  <meta name="description" content="All {{taxonomy.name}} currently used on {{config.title}} | Selection: {{termlist1}}, …, {{termlist2}}">

{% elif section %}

  {# homepage #}
  {% if section.components | length == 0 %}
    <meta name="description" content="{{config.description}} {{sep}} {{config.title}} | Topics: {{config.extra.keywords | join(sep=", ") }}">
  {% else %}
    <meta name="description" content="All blog posts available under: {{section.components | reverse | join(sep=' « ')}} « {{config.title}}">
  {% endif %}

{% endif %}

<link rel="alternate" type="application/atom+xml" title="Atom Feed for {{config.title}}" href="/feed.atom.xml">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{config.title}}" href="/feed.rss.xml">
<link rel="alternate" type="application/feed+json" title="JSON Feed for {{config.title}}" href="/feed.json">

<meta name="monetization" content="{{config.extra.webmontetization_id}}">

{#
  NOTES:
  - type=module scripts are also always "defer" by default
  - deferred scripts execute after parsing is done, but before DOMContentLoaded
  - avoid using "async", they can interrupt parsing / happen before DOMContentLoaded

  References:
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script
  https://hospodarets.com/native-ecmascript-modules-the-first-overview
  https://calendar.perfplanet.com/2016/prefer-defer-over-async/
#}
{# disable site wide JS as we do not have any meaningful code there #}
{# <script type=module src="/js/mtt.js"></script> #}

{% if page and page.extra.additional_scripts %}
  {% for script_path in page.extra.additional_scripts %}
  <script type=module src="{{ script_path | safe }}"></script>
  {% endfor %}
{% endif %}
{% if page and page.extra.additional_scripts_async %}
  {% for script_path in page.extra.additional_scripts_async %}
  <script async type=module src="{{ script_path | safe }}"></script>
  {% endfor %}
{% endif %}
