<footer class='footer'>

  <a rel="alternate" href="/feed.atom.xml" type="application/atom+xml"
     title="Atom Feed for {{config.title}}">atom</a>,
  <a rel="alternate" href="/feed.rss.xml" type="application/rss+xml"
     title="RSS Feed for {{config.title}}">rss</a>,
  <a rel="alternate" href="/feed.json" type="application/feed+json"
     title="JSON Feed for {{config.title}}">json</a> |
  <a href="/tags/">tags</a> |

  <a rel="external noopener"
     href="https://status.markentier.tech/"
     title="Status page for {{config.title}} (provided by updown.io)">🩺</a> |
  <a rel="external noopener nofollow"
     href="https://github.com/markentier/markentier.tech"
     title="Source code for {{config.title}}">📝</a> |
  <a rel="external noopener nofollow"
     href="https://securityheaders.com/?q=https://markentier.tech/"
     title="Security Headers check for {{config.title}}">👮✓</a> |
  <a rel="external noopener nofollow"
     href="https://www.ssllabs.com/ssltest/analyze.html?d=markentier.tech"
     title="TLS check for {{config.title}}">🛡✓</a> |
  <a rel="external noopener nofollow"
     href="https://validator.w3.org/nu/?doc=https://markentier.tech/"
     title="HTML check for {{config.title}}">📄✓</a> |

  💙<br>

  <div class='right'>
     © 2018—{{ now(utc=true) | date(format="%Y") }} Christoph Grabo (asaaki) 🦄
  </div>

</footer>
