<footer class='footer'>
  &copy; 2018—2020 markentier.tech / Christoph Grabo<br>

  <a rel="alternate" href="/feed.atom.xml" type="application/atom+xml"
     title="Atom Feed for {{config.title}}">atom</a>,
  <a rel="alternate" href="/feed.rss.xml" type="application/rss+xml"
     title="RSS Feed for {{config.title}}">rss</a>,
  <a rel="alternate" href="/feed.json" type="application/feed+json"
     title="JSON Feed for {{config.title}}">json</a> |
  <a href="/tags/">tags</a> |

  <a rel="external noopener"
     href="https://status.markentier.tech/"
     title="Status page for {{config.title}} (provided by updown.io)">status</a> |
  <a rel="external noopener nofollow"
     href="https://github.com/markentier/markentier.tech"
     title="Source code for {{config.title}}">source</a> |
  <a rel="external noopener nofollow"
     href="https://securityheaders.com/?q=https://markentier.tech/"
     title="Security Headers check for {{config.title}}">schd.io</a>,
  <a rel="external noopener nofollow"
     href="https://www.ssllabs.com/ssltest/analyze.html?d=markentier.tech"
     title="SSL/TLS check for {{config.title}}">ssltest</a>
</footer>
