<header class="siteheader">
  {% set is_home = section and section.components | length == 0 %}
  {% if is_home %}
    {% set elem = "div" %}
  {% else %}
    {% set elem = "a" %}
  {% endif %}
  <{{elem}} class="headlink"{% if not is_home %} href="/" rel="home" title="home"{% endif %}>
    {{ load_data(path="themes/mttt/static/i/markentier_tech.svg") | safe }}
    {% if term %}
      <div class="h1">{{config.title}}</div>
    {% elif section %}
    {# homepage; also: sections do not have their own H1s #}
    {# TODO: treat homepage and other sections differently #}
      <h1>{{config.title}}</h1>
    {% else %}
      <div class="h1">{{config.title}}</div>
    {% endif %}
    <p class="site_description">{{config.description}}</p>
  </{{elem}}>
</header>
