{% extends "default.html" %}
{% block title %}categories{% endblock title %}

{% block before_head_end %}
<meta name="robots" content="noindex, follow">
{% endblock before_head_end %}

{% block content %}
<article class="section-page section-categories">
  <header><h1 class="header-categories post_title entry-title">Categories</h1></header>
  <div class="article_body">
    <p></p>
    <ul>
    {% for cat in terms %}
      {% set count = cat.pages | length %}
      {% if count > 1 %}{% set s = "s" %}{% else %}{% set s = "" %}{% endif %}
      <li>
        <h2><a href="{{cat.permalink}}">{{cat.name}}</a></h2>
        <span>{{ count }} post{{s}}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
</article>
{% endblock content %}
