.wrppr {
  margin: auto;
  padding: 0 1rem;
  max-width: 38rem;
}

.siteheader {
  margin-bottom: 2rem;
}

.mtt-logo {
  color: var(--head-color);
  stroke: var(--head-color);
}

.headlink {
  text-decoration: none;
  display: grid;
  grid-template-columns: 4.5rem auto;
  align-items: center;
  padding: 1rem 0 0 0;
  min-width: 17rem;
  margin-left: -1.15rem;

  .header-logo {
    width: 4.5rem;
    height: 4.5rem;
  }

  h1 {
    // min-width: 1ch; // maybe as hack for firefox (mobile)?
    margin: 1.333rem 0 0 -.3rem;
    color: var(--head-color);
    &::first-letter { font-size: 0; }
  }
}

.site_description {
  margin: -1rem 0 0 4rem;
  padding: 0;
  font-size: .75rem;
  line-height: 1em;
}

.navbar {
  position: sticky; top: 0; // non-JS stickyness; should work almost everywhere
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: calc(50vw - var(--ref-size)*18.45); // relates to 50% wrppr width
  z-index: 999;

  a { font-family: var(--brand-font); }

  .navbar-menu {
    padding: .5rem;
    padding-left: 0;
    display: flex;
    align-items: baseline;

    a {
      display: block;
      padding: 0 0 0 .5rem;
      margin-left: .5rem;
      border-left: 1px solid var(--accent-dark-color);
      text-decoration: none;

      &:first-child { margin-left: 0; padding-left: 0; border: 0 }
    }

    .homelink {
      .home-logo {
        display: inline-block;
        width: 0; height: 2rem;
        vertical-align: bottom;
        opacity: 0;
        transition: all .1s ease;
      }
    }
  }

  .scrollprogress {
    display: block;
    width: 100vw;
    height: 1px;
    margin-left: calc(-50vw + var(--ref-size)*18.45);

    opacity: 0;
    transition: opacity .1s ease;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: var(--accent-darker-color);

    &, &::-webkit-progress-bar { background-color: transparent; }
    // yes, both need to be separate, otherwise Chrome does not apply :tableflip:
    &::-webkit-progress-value { background: var(--accent-darker-color); }
    &::-moz-progress-bar { background: var(--accent-darker-color); }
  }
}
.sticky {
  position: fixed; top: 0; left: 0;
  .navbar-menu {
    .homelink .home-logo {
      width: 2rem;
      opacity: 1;
      transition: all .1s ease;
    }
  }

  .scrollprogress[value] {
    opacity: 1;
    transition: opacity .3s ease .7s;
  }
}
.sticky + .content { padding-top: 5rem; }

.index_listing_post {
  padding-bottom: .5rem;
  opacity: 0.8;
}
.index_listing_post .thumbnail {
  max-width: 320px;
  max-height: 160px;
  width: 40%;
  float: right;
  margin: 0.25em 0 0 0.5em;
  opacity: 0.666;
}
.index_listing_post:hover,
.index_listing_post .thumbnail:hover {
  opacity: 1;
}
.index_listing_post a {
  text-decoration: none;
}
.index_listing_post a:link,
.index_listing_post a:visited {
  color: inherit;
}

.index_listing_post p,
.article-body > p {
  font-size: 105%;
}

.index_listing_post p,
.article-body > p:first-of-type {
  font-style: italic;
    filter: brightness(1.5);
}
.index_listing_post p::after,
.article-body > p:first-of-type::after {
  display: block;
  margin-top: 1.5em;
  text-align: center;
  font-style: normal;
  opacity: .125;
  content: "· · ✽ · ·";
  // content: "· · • · ·";
  // content: "· · ● · ·";
  // content: "· · ✿ · ·";
}

.post_content_info {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  opacity: .7;

  .wordcount { display: none }
}

.modified_at,
.meta .data,
.list-meta .data {
  display: none;
}

.meta {
  margin: 1rem -1rem;
  padding: 1rem;
  background: var(--accent-color);
  border-radius: .25em;
  font-size: .8rem;
  word-wrap: break-word;
}

.footer {
  margin-top: 3rem;
  font-size: .8rem;
}


.with-wrap pre {
  white-space: pre-wrap;
  word-break: keep-all;
  hyphens: none;
}
