.wrppr {
  margin: auto;
  max-width: var(--content-width);
  padding: 0 1rem;
}

.siteheader { margin-bottom: 2rem; }

.headlink {
  margin-top: 1rem;

  display: block;
  width: fit-content;
  width: -moz-fit-content; // so sad :-(

  text-decoration: none;

  svg {
    width: calc(var(--content-width) / var(--golden-ratio));

    path {
      stroke: var(--head-color);
      color: var(--head-color);
      stroke-width: 600;
    }
  }

  :is(h1, .h1) { font-size: 0; margin: 0; }

  .site_description {
    margin-top: -3rem;
    text-align: right;
    font-size: .75rem;
    line-height: 1;
  }
}

.navbar {
  padding: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  a {
    display: block;
    margin: 0 1rem 1rem 0;
    padding: .125rem 1rem .125rem 0;
    border-right: 1px solid var(--accent-color);
    font-family: var(--system-fonts);
    text-decoration: none;

    &:last-child { border: 0 }
  }
}

.index_toc_line {
  & + & { margin-top: 1.5em; }

  a.line {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "title date";
    align-items: end;
    gap: 0 .25rem;
    text-decoration: none;

    &:link, &:visited { color: inherit; }

    .title {
      grid-area: title;
      display: inline-block;
      position: relative;
      margin: 0;
      overflow: hidden;
      font-size: 1.25rem;
      font-family: var(--system-fonts-serif);
      font-weight: normal;

      &::after {
        position: absolute;
        padding-left: .25ch;
        content: repeat(" .", 80);
        text-align: right;
        font-size: 1rem;
        opacity: .42;
      }
    }

    .date {
      grid-area: date;
    }
  }

  footer { display: none; }
}

.article_body {
  :is(h1, h2, h3, h4, .h1) {
    line-height: 1.25;
  }

  p {
    font-size: 110%;
    line-height: 1.75;

    a {
      text-shadow: 0 0 0 var(--link-color);

      &:hover, &:focus {
        text-shadow: 0 0 0 var(--link-hl-color);
      }
    }
  }

  & > p:first-of-type {
    font-style: italic;
  }

  & > p:first-of-type::after {
    display: block;
    margin-top: 1.5em;
    text-align: center;
    font-style: normal;
    opacity: .125;
    // also check theme.toml for alternatives
    content: "· · ✽ · ·";
  }
}

.hentry {
  .post_title {
    font-family: var(--system-fonts-serif);
    width: 105%;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    line-height: 1.25;
  }
}

.post_hero {
  picture {
    // hero images are always in 2:1 ratios
    padding-top: 2rem;
    padding-bottom: 50%;
    margin-bottom: .5rem;
  }
}

.subtitle {
  font-family: var(--system-fonts);
  font-size: 175%;
}

.post_content_info {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  opacity: .7;

  .wordcount { display: none; }
}

.modified_at,
.meta > .data,
.list-meta .data {
  display: none;
}

.meta {
  margin-top: 2rem;
  font-size: .85rem;
  word-wrap: break-word;

  .info {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: top;
    line-height: 3;

    // .icon { }
    .data { word-spacing: .5rem; }
  }
}

.suggestions {
  margin: 3rem -1rem 1rem -1rem;
  padding: 1rem;
  background: var(--accent-color);
  border-radius: .5em;

  h4 {
    margin: 0;
    font-variant: small-caps;
    font-weight: lighter;
    text-shadow: 0 0 0 var(--head-dark-color);
  }

  .li {
    margin-left: 2rem;
  }
}

.footer {
  margin-top: 3rem;
  font-size: .8rem;
}

.article_body .taglist {
  line-height: 3;
  word-spacing: 1rem;
}

// .center { text-align: center; }
// .left { text-align: left; text-align: start; }
.right { text-align: right; text-align: end; }
// .justify { text-align: justify; }

.box {
  margin: 0 -1rem 1rem -1rem;
  padding: 1rem;
  background: var(--accent-color);
  border: 1px solid var(--accent-dark-color);
  border-radius: .5em;
  position: relative;

  &.html{
    padding-right: 4rem;

    &::after {
      display: block;
      position: absolute;
      top: 1ch; right: -10.5ch;
      font-size: 1.5rem;
      font-family: var(--system-fonts-monospace);
      transform: rotate(90deg);
      transform-origin: top left;
      color: var(--accent-dark-color);
      content: "HTML Output";
    }
  }
}

.hresize {
  overflow: auto;
  resize: horizontal;

  &.box { border-bottom-right-radius: 0; }
}
// .vresize { overflow: auto; resize: vertical; }

// .footnote-reference { a { } }
.footnote-definition {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: baseline;
  gap: .5rem;

  border-top: 1px dotted var(--accent-dark-color);
  margin-top: 3rem;

  & ~ & { border-top: 0; margin: 0; }

  & > * { grid-column: 2 / 3;}

  .footnote-definition-label { grid-column: 1; font-weight: bold; }
}
