.devmode {
  margin: 1em 0 0 0;
  padding: 1em;
  background: black;
  color: white;

  .note {
    color: red;
  }
}

#__tera_context::before {
  content: "__tera_context = ";
}

.draft {
  background-color: rgba(255, 225, 125, 0.25);
  box-shadow: 0 0 1rem rgba(255, 225, 125, 0.5);
}
