.devmode {
  position: fixed;
  top: -7.75rem;
  right: -3rem;
  padding: 7rem 4rem 2rem 53rem;
  transform: rotate3d(1.5,0,1, 15deg);
  background: rgba(0, 0, 0, 0.666);
  color: white;

  .note { color: #c00; font-weight: bold; }
}

.debug {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

#__tera_context::before {
  content: "__tera_context = ";
}

.draft {
  background-color: rgba(255, 225, 125, 0.25);
  box-shadow: 0 0 1rem rgba(255, 225, 125, 0.5);
}
