// @media only screen and (min-width: 768px) { … }
@media only screen and (max-width: 767px) {
  html, body { font-size: 18px; }
}

@media only screen and (max-width: 479px) {
  html, body { font-size: 18px; }
  pre { font-size: 1em; }
  .meta, .footer { font-size: .89rem; }
  .post_content_info { flex-direction: column; font-size: .78rem; }
  .wordcount { display: none }
}