// Modern breakpoints
// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/

// @mixin for-phone-only
@media only screen and (max-width: 599px) {
  :root {
    --ref-size: 18px;
    --content-width: 100vw; // full-width usage on small screens
  }

  .wrppr { padding: 0 3ch; }
  .meta, .footer { font-size: 1rem; }
  .headlink {
    margin-left: 0; width: 100%;
    .logo { width: 100%; }
  }
  .navbar { font-size: 1.25rem; }
  .meta .info .link { word-break: break-all; text-overflow: ellipsis; }
}

// @mixin for-tablet-portrait-up
@media only screen and (min-width: 600px) {
  :root {
    --content-width: 27rem; // min-width / ref * 0.90
  }

  .headlink { margin-left: -1.5rem; }
}

// @mixin for-tablet-landscape-up
@media only screen and (min-width: 900px) {
  :root {
    --content-width: 38rem; // (less than) min-width / ref * 0.85
  }
  .headlink { margin-left: -2.2rem; }
}

// @mixin for-desktop-up
@media only screen and (min-width: 1200px) {
  :root {
    --ref-size: 24px;
    --content-width: 40rem; // min-width / ref * 0.80
  }
  .headlink { margin-left: -2.3rem; }
}

// @mixin for-big-desktop-up
@media only screen and (min-width: 1800px) {
  :root {
    --ref-size: 28px;
    --content-width: 45rem; // min-width / ref * 0.70
  }
  .headlink { margin-left: -2.6rem; }
}

// features
@media (prefers-reduced-motion: no-preference) {
  html { scroll-behavior: smooth; }
}

// default: @media (prefers-color-scheme: light) { /* … */ }
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #e9eff3;
    --bg-color: #2c2d2f;
    --head-color: #c7e6fb;
    --head-dark-color: #336688;
    --head-light-color: #031c2c;

    --accent-color:  #595e63;
    // same as light: --accent-dark-color: #898e93;
    --accent-darker-color: #c9ced3; // THEME COLOR

    --link-hl-color: #fbdcc7;
  }
}
