// Viewing on 3/4 or more of your UHD/4K monitor?
// Lean back, we make it big enough to read from a distance.
@media only screen and (min-width: 2880px) {
  :root {
    --ref-size: 28px;
    --content-width: 45rem
  }
}

// between 1920 (FHD) up to 3/4 of UHD/4K
@media only screen and (max-width: 2879px) {
  :root {
    --ref-size: 24px;
    --content-width: 42rem;
  }
}

// our "just before Full HD" world (desktops)
@media only screen and (max-width: 1919px) {
  :root {
    --ref-size: 20px;
    --content-width: 38rem
  }
}

@media only screen and (max-width: 767px) {
  :root { --ref-size: 18px; }
  .navbar { padding-left: .75rem; }
  .headlink { margin-left: -.75rem; }
  .meta, .footer { font-size: .85rem; }

  .index_toc_line a.line {
    .title { grid-area: title / title / date / date; }
    .date { grid-area: date2; }
    .dots { grid-area: title2 / dots2; }
  }
}

@media only screen and (max-width: 479px) {
  pre { font-size: .9em; }
  .headlink { margin-left: -.5rem; }
  .post_content_info { flex-direction: column; font-size: .8rem; }
}

// only for video iframes
@media only screen and (max-width: 680px) {
  .__sc_youtube iframe {
    max-width: 320px;
    max-height: 180px;
  }

  .__sc_vimeo iframe {
    max-height: 137px;
  }
}
