h1,
h2,
h3,
h4,
h5,
h6,
.description {
    font-family: "Varela Round", Arial, sans-serif;
    color: #124269;
    margin-top: 1.5em;
}

h1 a,
h2 a {
    text-decoration: none;
}

a,
a:link,
a:visited {
    color: #906;
}

h1 a,
h1 a:link,
h1 a:visited {
    color: #279;
}


/* h2 a, h2 a:link, h2 a:visited { color: #124269; } */

a:hover,
a:focus {
    color: #162;
    text-decoration: none;
}

blockquote {
    margin: 0;
    // margin-left: 0;
    padding-left: 0.75em;
    border-left: 0.25em solid #def;
    // color: currentColor;
    opacity: .8;
}

ul,
ol {
    padding-left: 1.25em;
}

figure {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    margin: 1em 0 2em 0;
}

header h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 3em;
    line-height: 1.25em;
}

header h1 #big-m {
    vertical-align: middle;
    font-size: 6.4rem;
    text-shadow: 0 0 0.75rem #234256;
    margin-left: -0.45rem;

    &::before {
        content: "m";
    }
}

header .description {
    font-size: 1.5em;
    line-height: 1em;
}

footer {
    margin: 5em 0 2em 0;
    font-size: 0.8em;
    color: #66696c;
}
