.__sc_youtube,
.__sc_vimeo {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    iframe {
        display: block;
        width: 640px;
        height: 360px;
        border: 0;
        margin: auto;
    }
    figcaption {
        text-align: center;
        font-size: .6em;
        padding: 0.25em;
        a {
            color: #236;
        }
    }
}

.__sc_vimeo iframe {
    height: 274px;
}