:root {
  // reference size and width; overridden by media queries
  --ref-size: 20px;
  --content-width: 75vw; // default dynamic sizing

  // https://css-tricks.com/snippets/css/system-font-stack/
  --system-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Helvetica, Oxygen-Sans, Ubuntu, Cantarell, Arial,
    sans-serif, color-emoji;

  // https://www.client9.com/css-system-font-stack-serif-small-v1/ and others
  --system-fonts-serif: "Iowan Old Style", "Palatino Linotype", Palatino,
    "URW Palladio L", Athelas, Cambria, Constantia, Charter, Georgia,
    serif, color-emoji;

  // https://www.client9.com/css-system-font-stack-monospace-v2/
  --system-fonts-monospace: Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", Courier,
    monospace, color-emoji;

  --code-font: var(--system-fonts-monospace);

  --text-color: #2c2d2f; //
  --bg-color: #e9eff3;

  --head-color: #063656; // main brand color; STROKE color
  // check for tints for different use cases: https://coolors.co/063656
  // dark mode stroke color: #c7e6fb
  --head-light-color: #336688;
  --head-dark-color: #031c2c;

  // use it as theme color
  --accent-color: #c9ced3; // THEME COLOR
  --accent-dark-color: #898e93;
  --accent-darker-color:  #595e63;

  --link-color: var(--head-color);
  --link-hl-color: #562606;

  --rebecca: #663399; // rebeccapurple
  --green: #065626; // secret color
  --transparent: #00000000;

  tab-size: 4;
}
