:root {
  --ref-size: 20px;

  --default-font: 'Lora', Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  --brand-font: "Varela", Arial, sans-serif;
  --code-font: "Hack", "Source Code Pro", "Courier Std", "Fira Mono", "Inconsolata", Courier, monospace;

  --text-color: #242322;
  --bg-color: #efeeec;
  --accent-color: #dfdddc; // <-- use it as theme color
  --accent-dark-color: #cfcccc;
  --accent-darker-color: #acaaac;
  --accent-darkest-color: #8b888b;
  --link-color: #246;
  --link-hl-color: #631;
  --link-dark-color: #123;
  --head-color: #17254e;
  --head-dark-color: #0c1328;
}
