:root {
  --font-stack: "Lusitana", Times, serif;
  --font-code: "Hack", "Source Code Pro", "Courier Std", "Fira Mono", "Inconsolata", Courier, monospace;
  --black: #000;
  --white: #fff;

  --background: #cce9ec;
  --color-text: #422312;
}
