.sc-v,
.sc-yt,
.sc-vm {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);

    iframe {
        display: block;
        width:  36rem; // 720px;
        height: 20.5rem; // 405px;
        border: 0;
        margin: auto;
    }

    figcaption {
        width: 100%;
        margin: 0 auto;
        padding: 0.25em;
        background: transparent;
        text-align: center;
        font-size: .6em;
    }

    & + & {
        margin-top: .5rem;
    }
}

.sc-vm iframe {
    height: 13.7rem; // 274px;
}
