.__sc_video,
.__sc_youtube,
.__sc_vimeo {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    iframe {
        display: block;
        // no fixed size, otherwise it overflows on smaller viewports
        // width: 640px;
        // height: 360px;
        border: 0;
        margin: auto;
    }
    figcaption {
        width: 100%;
        margin: 0 auto;
        padding: 0.25em;
        background: transparent;
        text-align: center;
        font-size: .6em;
        a {
            color: #236;
        }
    }
}

// .__sc_vimeo iframe {
//     height: 274px;
// }