/* <span class="correction"><del data-text="removed"></del><ins>added</ins></span> */
.correction del::before {
  content: attr(data-text);
  text-decoration: line-through;
}

.quoted blockquote {
  font-style: italic;
}
.quoted blockquote + .blockquote-source {
  margin-top: -.25em;
  font-size: .9em;
  text-align: right;
}
.quoted blockquote + .blockquote-source::before { content: "— "; }
