.img-with-borders img {
  border: 1px solid var(--accent-dark-color);
}

/* <span class="correction"><del data-text="removed"></del><ins>added</ins></span> */
.correction del::before {
  content: attr(data-text);
  text-decoration: line-through;
}

.quoted blockquote {
  font-style: italic;
}
.quoted blockquote + .blockquote-source {
  margin-top: -.25em;
  font-size: .9em;
  text-align: right;
}
.quoted blockquote + .blockquote-source::before { content: "— "; }

// page: theme.md
.theme {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--rebecca);

  & > div {
    width: 11.5rem;
    height: 11.5rem;
    line-height: 10rem;
    flex: 0 0 auto;
    padding: .25rem;
    text-align: center;
    border: 1px solid var(--accent-darker-color);
    margin: 0 .25rem .25rem 0;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-size: .8rem;
      font-family: var(--code-font);
    }
  }
}
