.img_with_borders img {
  border: 1px solid var(--accent-dark-color);
}

/* <span class="correction"><del data-text="removed"></del><ins>added</ins></span> */
.correction del::before {
  content: attr(data-text);
  text-decoration: line-through;
}

.quoted > blockquote {
  & footer.source {
    margin-top: -.25em;
    font-size: .9em;
    text-align: right;

    &::before { content: "— "; }
  }
}

:target {
  color: var(--rebecca);
  text-shadow: 1px 1px 3px var(--head-light-color);
}

::selection {
  background-color: var(--accent-dark-color);
  text-shadow: 0 1px var(--green);
}
