// global defaults, so do not move this around
html {
  box-sizing: border-box;
  overflow-y: scroll;

  line-height: 1.75rem;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after { box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
}

html, body {
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: var(--system-fonts-serif), var(--system-fonts);
  font-size: var(--ref-size);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: .45px rgba(0,0,0,.1);
}

html, body, figure, blockquote, blockquote blockquote {
  margin: 0;
}
// h5, h6,
html, body, figure, h1, h2, h3, h4, .h1, hr {
  padding: 0; border: 0;
}

a, a:link, a:visited {
  color: var(--link-color);
}

a:hover, a:focus, svg:hover {
  color: var(--link-hl-color);
  stroke: var(--link-hl-color);
}

abbr[title] { text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

blockquote {
  padding-left: .5em;
  border-left: .5em solid var(--accent-color);
  // color: var(--accent-darker-color);
}

code, pre, kbd, samp { font-family: var(--system-fonts-monospace); }

del, s, strike { text-decoration: wavy line-through var(--link-hl-color); }

figcaption {
  padding: 0 .5em;
  font-size: .6em;
  line-height: 1.75;
  text-align: center;
  visibility: hidden;
}

figcaption, pre { background: var(--accent-color); }

figure:hover figcaption { visibility: visible; }

h1, .h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
// h5 { font-size: 1.1rem; }
// h6 { font-size: 1rem; }

// h5, h6,
h1, h2, h3, h4, .h1 {
  margin: 1.75rem 0 .5em 0;
  font-family: var(--system-fonts);
  font-weight: bold;
  color: var(--head-color);
  scroll-margin-top: 1rem;

  .article_body & { line-height: 1.25; }
}


hr {
  height: 0;
  color: inherit;

  margin-bottom: 1em;
  border: none;
  height: auto;
  text-align: center;

  &::after { content: "·   ·   ·"; }
}

img, video, figcaption, pre { margin: 0 -1rem; }

img, video {
  max-width: calc(100% + 2rem);
  width: var(--content-width);
  height: auto;
}

nav { margin-bottom: 2rem; }

pre {
  padding: 1rem;
  padding-right: .5em;
  border-radius: .25em;
  font-size: 1rem;
  line-height: 1.25;
  white-space: pre-wrap;
  overflow-x: auto;

  &>code {
    font-size: .8rem;
  }

  & + pre {
    margin-top: .75rem;
  }
}

picture {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  height: 0;
  margin-bottom: 3rem;

  img {
    position: absolute;
  }
}

small { font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

summary { display: list-item; }

table {
  text-indent: 0;
  border-color: inherit;
  width: 100%;
}
