html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after { box-sizing: inherit; }
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* prevent tap highlight color / shadow */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  // -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  // user-select: none; /* why would we want to do that? */
}

html, body, figure {
  margin: 0; padding: 0; border: 0;
}

html, body {
  color: var(--text-color);
  background-color: var(--bg-color);
  // optical illusion effect:
  // your eyes will see the gradient on the navbar
  // not the background!
  background: linear-gradient(90deg,
    var(--accent-color), 35%,
    var(--bg-color), 65%,
    var(--accent-color)
  );

  font-family: var(--system-fonts-serif), var(--system-fonts);
  font-size: var(--ref-size);
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: .45px rgba(0,0,0,.1);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

a, a:link, a:visited {
  color: var(--link-color);
}
a:hover, a:focus, svg:hover {
  color: var(--link-hl-color);
  stroke: var(--link-hl-color);
}

h1, .h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6, .h1 {
  border: 0;
  padding: 0;
  margin: 1.75rem 0 0 0;
  font-family: var(--brand-font);
  font-weight: bold;
  color: var(--head-color);
  scroll-margin-top: 5rem;
}



hr {
  padding: 0;
  margin-bottom: 1em;
  border: none;
  height: auto;
  text-align: center;
}
hr::after { content: "·   ·   ·"; }


img, video, figcaption, pre {
  margin: 0 -1rem;
}

img, video {
  max-width: calc(100% + 2rem);
  width: var(--content-width);
  height: auto;
}
figcaption {
  padding: 0 .5em;
  font-size: .6em;
  line-height: 1.75em;
  text-align: center;
  visibility: hidden;
}
figure:hover figcaption {
  visibility: visible;
}

code, pre {
  font-family: var(--system-fonts-monospace);
  // font-size: 109.5%;
}

pre {
  padding: 1rem;
  padding-right: .5em;
  border-radius: .25em;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: pre-wrap;
  overflow-x: auto;

  &>code {
    font-size: .8rem;
  }

  & + pre {
    margin-top: .75rem;
  }
}



blockquote {
    margin: 0;
    padding-left: .8em;
    border-left: .2em solid var(--accent-dark-color);
    // opacity: .85;
    color: var(--accent-darkest-color);

    blockquote { margin: 0; }
}

nav {
  margin-bottom: 2rem;
}

figcaption, pre, nav {
  background: var(--accent-color);
}

s, del, strike {
  text-decoration: line-through var(--link-hl-color) wavy;
}

table {
  width: 100%;
}
