@font-face {
  font-family: 'color-emoji';
  src: local('Apple Color Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Color Emoji');
}

@font-face {
    font-family: 'Varela Round';
    src: local('Varela Round'),
         local('Varela Round Regular'),
         local('VarelaRound-Regular'),
         url('/f/varela-round-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
