@font-face {
  font-family: 'color-emoji';
  src: local('Apple Color Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Color Emoji');
}

/*
https://github.com/filamentgroup/glyphhanger

glyphhanger \
  --formats=woff2 \
  --US_ASCII --LATIN \
  --whitelist="markentier.tech" \
  --subset="*.otf" \
  --css
*/
@font-face {
    font-family: 'Varela Round';
    src: local('Varela Round'),
         local('Varela Round Regular'),
         local('VarelaRound-Regular'),
         url('/f/vrrss.woff2') format('woff2');
    unicode-range: U+2E,U+61,U+63,U+65,U+68,U+69,U+6B,U+6D,U+6E,U+72,U+74;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
