/*!mtt*/
@charset "UTF-8";

@import "sanitize";

:root {
  --ref-size: 20px;

  --default-font: 'Lora', Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  --brand-font: "Varela Round", Arial, sans-serif;
  --code-font: "Hack", "Source Code Pro", "Courier Std", "Fira Mono", "Inconsolata", Courier, monospace;

  --text-color: #242322;
  --bg-color: #efeeec;
  --accent-color: #cfcecc;
  --link-color: #246;
  --link-hl-color: #631;
  --head-color: #0c1328;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, figure {
  margin: 0; padding: 0; border: 0;
}

html, body {
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: var(--default-font);
  font-size: var(--ref-size);
  line-height: 1.75rem;
}

a, a:link, a:visited {
  color: var(--link-color);
}
a:hover, a:focus {
  color: var(--link-hl-color);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  border: 0;
  padding: 0;
  margin: 1.75rem 0 0 0;
  font-family: var(--brand-font);
  color: var(--head-color);
}

code, pre {
  font-family: var(--code-font);
}

hr {
  padding: 0;
  margin-bottom: 1em;
  border: none;
  height: auto;
  text-align: center;
}
hr::after { content: "·   ·   ·"; }


img, figcaption, pre {
  margin: 0 -1rem;
}

img {
  max-width: calc(100% + 2rem);
}
pre {
  padding: 1rem;
  background: var(--accent-color);
  border-radius: .25em;
  white-space: pre-wrap;
  font-size: .8em;
}

blockquote {
    margin: 0 0 0 -1rem;
    padding-left: .7em;
    border-left: .3em solid var(--accent-color);
    opacity: .8;
}
blockquote blockquote { margin: 0; }

nav {
  margin: 2rem 0;
}

.wrppr {
  margin: auto;
  padding: 0 1rem;
  max-width: 38rem;
}

.headlink {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem 0 0 0;
  min-width: 17rem;
}
.headlink .m {
  width: 4.5rem;
  height: 4.5rem;
  background: url(/m.svg);
  background-size: 4.5rem 4.5rem;
  margin-left: -1.2rem;
}
.headlink h1 { margin: 0 0 0 -.3rem; padding-top: 1.4rem; }
.headlink h1::first-letter { font-size: 0; }

.site_description {
  margin: -1rem 0 0 4rem;
  padding: 0;
  font-size: .75rem;
  line-height: 1em;
}

.index_listing_post {
  padding-bottom: .5rem;
  opacity: 0.8;
}
.index_listing_post .thumbnail {
  max-width: 320px;
  max-height: 160px;
  width: 40%;
  float: right;
  margin: 0.25em 0 0 0.5em;
  opacity: 0.666;
}
.index_listing_post:hover,
.index_listing_post .thumbnail:hover {
  opacity: 1;
}
.index_listing_post a {
  text-decoration: none;
}
.index_listing_post a:link,
.index_listing_post a:visited {
  color: inherit;
}

.index_listing_post p,
.article-body > p:first-of-type {
  font-style: italic;
    filter: brightness(1.5);
}
.index_listing_post p::after,
.article-body > p:first-of-type::after {
  display: block;
  margin-top: 1.5em;
  text-align: center;
  font-style: normal;
  content: "·   ·   ·";
}

.post_content_info {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  opacity: .8;
}

.modified_at,
.meta .data {
  display: none;
}

.meta {
  margin: 1rem -1rem;
  padding: 1rem;
  background: var(--accent-color);
  font-size: .8rem;
  border-radius: .25em;
}

.footer {
  margin-top: 3rem;
  font-size: .8rem;
}

/* special cases */

/* <span class="correction"><del data-text="removed"></del><ins>added</ins></span> */
.correction del::before {
  content: attr(data-text);
  text-decoration: line-through;
}

.quoted blockquote {
  font-style: italic;
}
.quoted blockquote + .blockquote-source {
  margin-top: -.25em;
  font-size: .9em;
  text-align: right;
}
.quoted blockquote + .blockquote-source::before { content: "— "; }

@media only screen and (max-width: 767px) {
  html, body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  html, body {
    font-size: 14px;
  }
}

@import "mtt.shortcodes";

// debugging
#__tera_context {
  margin: 1em 0 0 0;
  padding: 1em;
  background: black;
  color: white;
  &::before {
    content: "__tera_context = ";
  }
}

// fonts

@font-face {
    font-family: 'Varela Round';
    src: url('/assets/fonts//varela-round-regular.woff2') format('woff2'), url('/assets/fonts/varela-round-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora-Regular.woff2') format('woff2'), url('/assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora-Italic.woff2') format('woff2'), url('/assets/fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora-Bold.woff2') format('woff2'), url('/assets/fonts/Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora-Bold-Italic.woff2') format('woff2'), url('/assets/fonts/Lora-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('/assets/fonts/hack-regular.woff2') format('woff2'), url('/assets/fonts/hack-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('/assets/fonts/hack-bold.woff2') format('woff2'), url('/assets/fonts/hack-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('/assets/fonts/hack-italic.woff2') format('woff2'), url('/assets/fonts/hack-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('/assets/fonts/hack-bolditalic.woff2') format('woff2'), url('/assets/fonts/hack-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
