<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <div id="wrppr">
      <header>
        {% include "header.liquid" %}
      </header>
      <section id="content">
        <article>
          {{ page.content }}
        </article>
      </section>
      <footer>
        {% include "footer.liquid" %}
      </footer>
    </div>
  </body>
</html>
