<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <div id="wrppr">
      <header>
        {% include "header.liquid" %}
      </header>
      <nav>
        {% include "nav.liquid" %}
      </nav>
      <main id="content">
      {% if page.title == "home" %}
        {{ page.content }}
      {% else %}
        <article>
          <h2>{{ page.title }}</h2>
          {{ page.content }}
        </article>
      {% endif %}
      </main>
      <footer>
        {% include "footer.liquid" %}
      </footer>
    </div>
  </body>
</html>
