{#
    {% quoted(source="", href="") %}
    ...
    {% end %}

    {{ quoted(body="", source="", href="") }}
#}
<div class="quoted">
  <blockquote{% if href is defined %} cite="{{href | safe}}"{% endif %}>
    {{body | safe}}

    {%- if href or source %}
    <footer class="source">
      {%- if href -%}
      <cite><a href="{{href | safe}}">{% if source %}{{source}}{% else %}{{href}}{% endif %}</a></cite>
      {%- else -%}
      <cite>{{source}}</cite>
      {%- endif -%}
    </footer>
    {%- endif %}
  </blockquote>
</div>
